* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/************************ App.js ********************/
.App {
  text-align: center;
  background: rgb(212, 212, 212);
}

/************************ NavBar ********************/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

/********************* Search Menu ******************/
.SearchSecion {
  height: 450px;
  background-image: url(assets/images/pizza.jpg);
  background-size: cover;
  filter: contrast(85%);
  border-bottom: 1px solid black;
}
.SearchBox {
  width: 450px;
  height: 300px;
  background: rgb(224, 199, 199, 0.80);
  border-radius: 12px;
  filter: brightness(120%);
}
.SearchBox .nameinput {
  width: 330px;
  border-radius: 10px;
}
.SearchBox .NumberRecipes input {
  width: 80px;
  border-radius: 10px;
}
.SearchBox button {
  background: rgb(255, 187, 0);
  border-radius: 10px;
}


/******************** HomePage **********************/
.selectNumberOfRecipes {
  width: 60px;
  height: 32px;
  border-radius: 5px;
}

.container {
  text-align: left;
}

.titleSecion {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
} 

.subContainer { 
  border: 1px solid black;
  padding-top: 40px;
  padding-left: 4%;
}


/******************** Card.js ***********************/
.recipesCard {
  flex-basis: 32%;
  border: radius 5px ;
  height: 500px;
}
.CardImage {
  height: 250px;
  border-radius: 8px 8px 0 0;
}
.SeeMore {
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-top: -5px;
}
.CardDescription {
  height: 200px;
}
.Description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}



